/* style.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

/* Header styles */
header {
    background-color: #002D5F;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Main content styles */
.main-content {
    max-width: 800px;
    margin: 32px;
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/* Custom styles for output container */
#output-container {
    background-color: #002D5F;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}