<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PREDICT VIEW</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- Your content here -->
    <header>VIEW PREDICTOR</header>
    <p class="main-content"> Use our machine learning model to find the number of views you'll get based on the emotional tone (sentiment) of your Youtube video title! Note that the model was trained with a set of trending videos, meaning that the prediction might be skewed in favor of high view counts.</p>
    <input class="main-content" id="title-to-analyze" type="text" placeholder="Enter a title to analyze...">
    <button id="my-button">Analyze</button>
    <h5 class="main-content">OUTPUT:</h5>
    <div class="main-content" id="output-container">
        <div id="output-sentiment"></div>
        <div id="output-views"></div>
    </div>
    
    
    <!-- External JavaScript -->
    <script src="../static/script.js"></script>
</body>
</html>
