<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Predictor by Sentiment</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- Your content here -->
    <header>View Predictor by Sentiment</header>
    <p class="main-content">Muffins and puffins</p>
    <input class="main-content" id="title-to-analyze" type="text" placeholder="Enter a title to analyze...">
    <button id="my-button">Click Here</button>
    <p class="main-content" id="output"></p>
    
    <!-- External JavaScript -->
    <script src="../static/script.js"></script>
</body>
</html>
